# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
../env/

# API keys and sensitive data
keys.txt

#tensorboard verbosing
dqn_tensorboard/
tensorboard_log/


#datasets
data/

#profiling
profiling-results/

#models
saved_models

# Other untracked files
=2.0


