# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
../env/

# API keys and sensitive data
keys.txt

# Other untracked files
=2.0

# Exclude compiled Python cache files in specific folders
api_wrappers/__pycache__/
agents/__pycache__/
data/__pycache__/
envs/__pycache__/
scripts/__pycache__/

